<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="WebServiceSuite">
	<test name="LiferayAutoconfigurator" enabled="true"
		preserve-order="true">
		<groups>
			<run>
				<include name="userFactory" />
				<include name="articleFactory" />
			</run>
		</groups>
		<classes>
			<class name="com.biit.liferay.auto.factories.UserFactoryTests" />
			<class name="com.biit.liferay.auto.factories.ArticleFactoryTests" />
		</classes>
	</test>
</suite>

